@model HRMWeb.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<div class="container">
    <h1>Employee Details</h1>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Division)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Division)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Building)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Building)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Title)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Room)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Room)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>